exportPattern("^[[:alpha:]]+")
import(Fraser.Tools.Plotting)
import(ggplot2)
import(dplyr)
import(retrosheet)
import(patchwork)
import(baseballDBR)
import(teamcolors)
import(baseballr)
import(stringr)
import(rvest)
import(scales)
import(RMariaDB)
import(DBI)
import(lubridate)
import(ggrepel)
import(readr)
